.be-inset-stretch-32 {
  padding: $spacing-32 $spacing-24;
}

.be-block-4 {
  margin-block-end: $spacing-4;
}
.be-block-16 {
  margin-block-end: $spacing-16;
}
.be-block-24 {
  margin-block-end: $spacing-16;
}
.be-block-32 {
  margin-block-end: $spacing-32;
}