@font-face {
  font-family: Suisse;
  font-weight: 400;
  src: url(/assets/fonts/SuisseIntl-Regular-WebTrial.woff2) format('woff2');
}

@font-face {
  font-family: Suisse;
  font-weight: 500;
  src: url(/assets/fonts/SuisseIntl-Medium-WebTrial.woff2) format('woff2');
}